# Application Environment
NODE_ENV=development
PORT=3000

# MySQL Database Configuration (FT Private)
DB_HOST=your-mysql-host.amazonaws.com
DB_PORT=3306
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=your_database_name

#MySQL Database Configuration (FT Public)
DB_PUBLIC_HOST=your-public-mysql-host.amazonaws.com
DB_PUBLIC_PORT=3306
DB_PUBLIC_USERNAME=your_public_username
DB_PUBLIC_PASSWORD=your_public_password
DB_PUBLIC_DATABASE=your_public_database_name

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h

# Cognito Configuration
COGNITO_USER_POOL_ID=your_cognito_user_pool_id
COGNITO_CLIENT_ID=your_cognito_client_id
COGNITO_REGION=us-east-2
COGNITO_CLIENT_SECRET=your_cognito_client_secret

# PantryTrak Integration
PANTRY_TRAK_ENABLED=true
PANTRY_TRAK_API_URL=your_pantry_trak_api_url
PANTRY_TRAK_TOKEN=your_pantry_trak_token
PANTRY_TRAK_SECRET=your_pantry_trak_secret

# Twilio (SMS)
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+15555555555
TWILIO_ENABLED=true # Optional flag to disable Twilio in non-prod (set to 'false' to disable)

# SendGrid (Email)
SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_ENABLED=true # Optional flag to disable SendGrid in non-prod (set to 'false' to disable)